	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="../../favicon.ico">	
		<link rel="stylesheet" href="css/styles.css">
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<title>Socket.IO Lab | <%= title %></title>
	</head>